<h1>{{ blog.title }}</h1>
<img src="{{blog.title_image.url}}" style="max-height:300px"/>
<br/>
<small>By: {{ blog.author.first_name }} {{ blog.author.last_name }} - 
    {{ blog.published_date }}
</small>
<br/>
<hr>
{{ blog.blog_content|safe }}
<br/>

{% if user.is_authenticated %}
<a href="{% url 'update' blog.pk %}"><button>Edit</button></a>
<a href="{% url 'delete' blog.pk %}"><button style="background-color:red;">Delete</button></a>
<br/><br/>
<a href="{% url 'home' %}"><button>Home</button></a>
{% else %}
<br/>
<a href="{% url 'home' %}"><button>Home</button></a>
{% endif %}