{% extends 'base.html' %}
{% block content %}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-194470783-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-194470783-1');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function updateText(btn, newCount) {
                if (newCount == 1) {
                    $('#btn').text(newCount + ' Like')
                } else {
                    $('#btn').text(newCount + ' Likes')
                }
            }

            $('.like-btn').click(function (e) {
                e.preventDefault();
                var this_ = $(this);
                var likeUrl = this_.attr("data-href");
                var likes = parseInt(this_.attr("data-likes"));
                var add_likes = likes + 1


                $.ajax({
                    url: likeUrl,
                    method: "GET",
                    data: {},
                    success: function (data) {
                        console.log(data)


                        if (data.Liked) {
                            updateText(this_, likes)
                        } else {
                            updateText(this_, add_likes)
                        }


                    },
                    error: function (error) {
                        console.log(error)
                        console.log("error")
                    },

                });
            });
        });
    </script>
</head>

<h1>{{ blog.title }}</h1>
<img src="{{blog.title_image.url}}" style="max-height:300px" />
<br />
<small>By: {{ blog.author.first_name }} {{ blog.author.last_name }} -
    {{ blog.published_date }} - {{ blog.blog_readtime }} min{{ blog.blog_readtime|pluralize }} read -
    {{ blog.blog_views }} view{{ blog.blog_views|pluralize }} <i class="fa fa-eye" aria-hidden="true"> </i>

</small>
<br />
<hr>
{{ blog.blog_content|safe }}
<br />

{% if user.is_authenticated %}

{% if user.id == blog.author.id %}
<a href="{% url 'update' blog.slug %}"><button class="btn btn-secondary">Edit</button></a>
<a href="{% url 'delete' blog.slug %}"><button class="btn btn-danger">Delete</button></a>
<br /><br />
<strong class="text-secondary"> {{ blog.number_of_likes }} Like{{ blog.number_of_likes|pluralize }}</strong>


{% else %}
<br />
{% if user.id not in liked_user %}
<a class='like-btn' data-href="{% url 'blogpost_api_like' blog.slug %}" data-likes='{{ blog.number_of_likes }}'
    href="{% url 'blogpost_like' blog.slug %}"><button class="btn btn-secondary" id='btn'>{{ blog.number_of_likes }}
        Like{{ blog.number_of_likes|pluralize }}</button></a>
{% endif %}
{% if user.id in liked_user %}
<button class="btn btn-secondary btn-lg" disabled id="btn">{{ blog.number_of_likes }}
    Like{{ blog.number_of_likes|pluralize }}</button></a>
{% endif %}



{% endif %}
{% else %}
<a class="btn btn-outline-info" href="{% url 'home' %}">Log in to like this
    article!</a><br>
<strong class="text-secondary"> {{ blog.number_of_likes }} Like{{ blog.number_of_likes|pluralize }}</strong>
{% endif %}

<br /><br />
<a href="{% url 'home' %}"><button class="btn btn-primary">Home</button></a>

{% endblock %}